@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  --blue-background: #EAF6FB;
  --blue-container: #D6EEF7;
  --blue-main-text: #2F3E46;
  --blue-title-text: #1D6FA3;
  --background-border: #A9D6E5;
  --hover-button: #89C2D9;
  --blue-temperatura: #1B4965;
  --blue-border-button: #62B6CB;
}

body {
  font-family: "Patrick Hand", cursive;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
  height: 100vh;
  background-color: var(--blue-background);
}

.container {
  background: var(--blue-container);
  border: 2px solid var(--background-border);
  padding: 70px; 
}

.searchButton {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--background-border);
  width: 40%;
  color: var(--blue-temperatura);
  background-color: transparent;
  cursor: pointer;
  font-family: "Patrick Hand", cursive;
  font-size: 1.3rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.searchButton:hover {
  background: var(--hover-button);
  transform: scale(1.05);
}

.searchButton:active {
  transform: scale(0.95);
}

h1 {
  color: var(--blue-title-text);
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: 100;
}

input {
  width: 100%;
  margin-bottom: 45px;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--blue-border-button);
  background-color: transparent;
}

input::placeholder{
  color: var(--blue-main-text);
}

.card {
  text-align: right;
  color: var(--blue-main-text);
  font-size: 1.5rem;
}

.temperatura {
  text-align: center;
  font-size: 5.2rem;
  color: var(--blue-main-text)
}

.temperatura p{
  margin: 0;
}

.infos {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 50px;
}

.itemTitle {
  color: var(--blue-title-text);
}

.itemValue {
  color: var(--blue-main-text)
}