@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  --light-blue: #CDF4FB;  
  --other-blue: #89A5A5;
  --dark-blue: #335050;
  --strong-blue: #2168fc;
}

body {
  font-family: "Patrick Hand", cursive;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
  height: 100vh;
  background-color: var(--light-blue);
}

.container {
  border: 2px solid var(--other-blue);
  padding: 75px; 
}

.searchButton {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--dark-blue);
  width: 40%;
  color: var(--dark-blue);
  background-color: transparent;
  cursor: pointer;
  font-family: "Patrick Hand", cursive;
  font-size: 1.3rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.searchButton:hover {
  transform: scale(1.05);
}

.searchButton:active {
  transform: scale(0.95);
}

h1 {
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: 100;
}

input {
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--dark-blue);
  background-color: transparent;
}

input::placeholder{
  color: var(--other-blue);
}

.card {
  text-align: right;
  color: var(--dark-blue);
  font-size: 1.5rem;
}

.temperatura {
  text-align: center;
  font-size: 5.2rem;
  color: var(--dark-blue)
}

.infos {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 50px;
}

.itemTitle {
  color: var(--strong-blue);
}

.itemValue {
  color: var(--dark-blue)
}